/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #29293a/*var(--body-color)*/;
  color: #fae3cf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}


.section__height {
  
  
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 10rem;
  
}

.nav__logo { 
  color: var(--title-color);
  font-weight: 600;
}

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }


.nav__list, 
.nav__link {
  display: flex;
}
.nav__list {
    justify-content: center;
    column-gap: 5rem;
  }
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 2rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: #E22E3A;/* var(--first-color)*/;
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
   
  }
}

/* For medium devices */
@media screen and (min-width: 1576px) {
  
}

@media screen and (min-width: 1767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 2rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design 
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /
  
* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*=============== MENU ===============*/

.c-imagem{
  height: 77vh;
  width: 100%;
  background-image: url("../img/background.gif");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
}

.seta-conteiner{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  
}
.c-imagem__seta{
  font-size: 3rem;
  color: #fae3cf ;
}
.titulo-img{
  width: 30rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: #fae3cf;
  text-align: center;
  font-family: 'Trade Winds', cursive;
 
  
}
.about__title{
 font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 1rem; 
}

.about__description{
/*  font-family: 'Lacquer', cursive;
   font-family: 'Trade Winds', cursive;*/
  font-size: 1.15rem;
  font-family: "Poppins", sans-serif;
padding: 1rem;
  font-weight: 300;
  text-indent: 20px;
 text-align: justify;
  
}

@media (max-width: 435px) {
  .about__description {
    font-size: 1rem;
  }
}

.c-btn__conteiner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  
}

.btn {
 position: relative;
 font-size: 17px;
 
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: "Poppins", sans-serif;
 font-weight: 500;
 color: #fae3cf;
 background-color: #E22E3A;

}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

.btn::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}


/*=============== CARDS ===============*/

.c-cards-elenco {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    
}
.c-elenco{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
 
  
}
.c-elenco section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255,255,255,0.05);
    padding: 1rem 1rem;
    border-radius: 8px;
    
    max-height: 468px;
   color: #fae3cf;
   font-family: "Poppins", sans-serif;
}

.c-elenco section.card:first-child {
    margin-left: 0;
}

.c-elenco section.card .icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

.c-elenco section.card .img {
    width: 100%;
    height: 100%;
    
}

.c-elenco section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.c-elenco section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
   text-align: justify;

}

.c-elenco section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

.c-elenco section.card.contact button {
    background: linear-gradient(to right, #8b4558, #f0424e);
}

.c-elenco section.card.contact {
    box-shadow: 20px 20px 50px -30px #f0424e;
}

@media screen and (max-width: 720px) {
    .c-elenco {
      
    }

    .c-elenco section.card {
        margin-left: 0;
        
    }

    .c-elenco section.card:last-child {
        margin-bottom: 0;
    }

    .c-elenco section.card button {
        font-size: 70%;
    }

}

